<!-- Validation failure messages -->

<% if @meeting.errors.any? %>
  <% @meeting.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>



<!-- Responsive panel example -->
<div class="row">
  <div class="spacer50"></div>
</div>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Meeting</h3>
      </div>
      <div class="panel-body">
        <form action="/create_meeting" class="form-horizontal">
          <!-- Label and input for user_id -->

              <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">

          <!-- Label and input for contact_id -->
          <div class="form-group">
            <label for="contact_id" class="col-sm-2 control-label">
              Contact
            </label>
            <div class="col-sm-10">
              <%= select_tag(:contact_id, options_from_collection_for_select(Contact.all, :id, :fullnameandco), :class => "form-control") %>
            </div>
          </div>

          <!-- Label and input for event_id -->
          <div class="form-group">
            <label for="event_id" class="col-sm-2 control-label">
              Event
            </label>
            <div class="col-sm-10">
               <%= select_tag(:event_id, options_from_collection_for_select(Event.all, :id, :name), :class => "form-control") %>
            </div>
          </div>

        <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker({
                    pickDate: false
                });
            });
        </script>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Create Meeting" class="btn btn-success">
              or
              <a href="/meetings">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
