<div class="page-header">
  <h1>
    About the founder
    </h1>
</div>


<!-- Simple table layout example -->

<div class="row">
  <div class="col-md-3  ">
  <div class="profile">
  <img src="/anna.jpg">
  </div>
  </div>

  <div class="col-md-4">
  <p>
    Anna is a student at the University of Chicago Booth School of business. After going through a tough round of networking her first year, she decided to come up with a solution for keeping track of all the contacts she met throughout the process.
  </p>
  <br>
  <p>
    She can be reached at placeholder@gmail.com for comments or questions.
  </p>
  </div>
</div>
