  <div class="container">


    <div class="page-header">
      <h1>
        Contact Tracker
      </h1>
    </div>

    <div class="row row-centered">
      <div class="col-md-4">
        <a class="btn btn-primary btn-main" href="/contacts/new" target="_blank">Add a contact</a>
      </div>

      <div class="col-md-4">
        <a class="btn btn-primary btn-main" href="/events/new" target="_blank">Add an event</a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary btn-main" href="/events/new" target="_blank">Add a meeting</a>
      </div>
    </div>

    <div class="row">
      <h3> Most Popular</h3>
    </div>
    <div class="row row-centered">
      <div class="col-md-4">
        Companies
        <ul>
          <li><a class="btn btn-sm btn-selector" href="samplecontact.html" target="_blank">McKinsey</a></li>
          <li><a class="btn btn-sm btn-selector" href="samplecontact.html" target="_blank">Bain</a></li>
          <li><a class="btn btn-sm btn-selector" href="samplecontact.html" target="_blank">BCG</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        Locations
        <ul>
          <li><a class="btn btn-sm btn-selector" href="samplecontact.html" target="_blank">New York</a></li>
          <li><a class="btn btn-sm btn-selector" href="samplecontact.html" target="_blank">Chicago</a></li>
          <li><a class="btn btn-sm btn-selector" href="samplecontact.html" target="_blank">San Francisco</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        Events
        <ul>
          <li><a class="btn btn-sm btn-selector" href="samplecontact.html" target="_blank">CNN</a></li>
          <li><a class="btn btn-sm btn-selector" href="samplecontact.html" target="_blank">Bain happy hour</a></li>
          <li><a class="btn btn-sm btn-selector" href="samplecontact.html" target="_blank">BCG dinner</a></li>
        </ul>
      </div>
  </div>

  <div class="row grey">
      <div class="container">
      <h3> Recently added events</h3>
    </div>
    <div class="row row-centered">
      <div class="col-md-2">
        <a class="btn btn-lg btn-selector" href="#">
          <p>Consulting Unplugged</p>
          <p>9/27/14</p>
        </a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-lg btn-selector" href="#">
          <p>1Y/2Y Networking Night</p>
          <p>10/8/14</p>
        </a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-lg btn-selector" href="#">
          <p>Corporate Networking Night</p>
          <p>10/12/14</p>
        </a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-lg btn-selector" href="#">
          <p>1Y Networking Night</p>
          <p>10/16/14</p>
        </a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-lg btn-selector" href="#">
          <p>Academy Awards</p>
          <p>10/22/14</p>
        </a>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <h3>Sort all inputs</h3>
    </div>

    <div class="row row-centered">
      <div class="col-md-2">
        <a class="btn btn-primary btn-lg btn-selector" href="#">Firm</a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-primary btn-lg btn-selector" href="#">Industry</a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-primary btn-lg btn-selector" href="#">Function</a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-primary btn-lg btn-selector" href="#">Location</a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-primary btn-lg btn-selector" href="#">Event</a>
      </div>
    </div>

    <div class="row">
      <div class="spacer50"></div>
    </div>

    <div class="row">
      <footer>&#169; Anna Pione 2014</footer>
    </div>

  </div>

